<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" crossorigin>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet' crossorigin/>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js' crossorigin></script>
<% let find = 0 %> 
<div class="row">
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-header text-center mb-3">
                <h2><%=employer.compName%></h2>
                <form action="/logout" method="post">
                    <button class="btn btn-danger">Logout</button>
                </form>
            </div>
            <img src="data:application/octet-stream;base64,<%=image%>" class="card-img m-auto" style="width: 18rem;">
            <div class="card-body text-center">
                <h5><%=employer.email%></h5>
                <button class="btn btn-primary"><a class="nav-link" href="/employer/<%=employer._id%>/edit">Edit Profile</a></button>
                <hr>
                <h1 class="display-5 text-primary mb-3">Active Job Ads:</h1>
                <div class="row mb-3">
                <% for(job of employer.jobAds){ %>
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="card border-primary">
                            <div class="card-body">
                                <h5 class="card-Title"><%=job.subPosition%></h5>
                                <p class="card-text mb-1 text-danger"><%=job.pay%></p>
                                <p class="card-text text-danger mb-1"><i class="bi bi-eye-fill text-dark"></i> <%=job.views%></p>
                                <p class="card-text mb-1">
                                    <small class="text-muted"><%=job.location%></small>
                                </p>
                                <p class="card-text"><%=job.type%></p>
                                <button class="btn btn-warning text-center"><a class="nav-link" href="/employer/<%=employer._id%>/applicants/<%=job._id%>">Applicants</a></button>
                            </div>
                        </div>
                    </div>
                <% find++} %>
                </div>
                <h4>Found: <%= find %> </h4>
                <button class="btn btn-primary text-center"><a href="/new" class="nav-link">New Job</a></button>
                <hr>
            </div>
            <div class="mx-auto mb-4" id='map' style='width: 400px; height: 300px;'></div>
            <% if(!employer.verified){ %>
            <form  action="/verify/<%=employer._id%>" method="post" class="mx-auto mb-3">
                <label for="email" class="form-label">Verify your email: <%=employer.email%></label>
                <button class="btn btn-warning ms-2 text-white">Verify</button>
            </form>
            <% } else{ %>
                <label for="email" class="form-label mx-auto mb-3">Verified email: <%=employer.email%> <i class="bi bi-check2-circle text-success"></i></label>
            <% } %>
        </div>
    </div>
</div>
<script>
    let comp = <%-JSON.stringify(employer.geometry)%>;
    let name = <%-JSON.stringify(employer.compName)%>;
    mapboxgl.accessToken = '<%-process.env.MAPBOX_TOKEN%>';
    const map = new mapboxgl.Map({
    container: 'map', 
    style: 'mapbox://styles/mapbox/streets-v12', 
    center: comp.coordinates, 
    zoom: 10 
    });

    new mapboxgl.Marker()
    .setLngLat(comp.coordinates)
    .setPopup(
        new mapboxgl.Popup({offset: 25})
        .setHTML(`<h3>${name}</h3>`)
    )
    .addTo(map);
</script>