<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/public/styles.css">
<div class="row">
    <h2  class="text-center text-primary display-6 mb-3">Add New Job Ad</h2>
    <hr class="col-8 offset-2 text-primary mx-auto">
    <div class="d-flex mb-3">
        <div class="col-4">
            <select class="form-select form-select-lg w-50 ms-auto" form="Job" name="location">
            <option selected hidden value="Bakı">City</option>
            <% for(let city of cities){ %> 
            <option value="<%=city.city%>"><%=city.city%></option>
            <% } %> 
            </select>
        </div>    
        <div class="col-4">
            <select class="form-select form-select-lg w-50 m-auto" form="Job" name="position">
            <option selected hidden value="Digər">Category</option>
            <% for(let position of positions){ %> 
            <option value="<%=position.position%>"><%=position.position%></option>
            <% } %> 
            </select>
        </div>
        <div class="col-4">
            <select class="form-select form-select-lg w-50" form="Job" name="type">
            <option selected value="Full-time">Full-time</option>
            <option value="Part-time">Part-time</option>
            </select>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-3">
        <div class="col-4">
            <select class="form-select form-select-lg w-50 ms-auto" form="Job" name="education">
            <option selected hidden value="Yoxdur">Education</option>
            <% for(let education of educations){ %> 
            <option value="<%=education.education%>"><%=education.education%></option>
            <% } %> 
            </select>
        </div>
        <div class="col-4">
            <select class="form-select form-select-lg w-50" form="Job" name="experience">
                <option selected hidden value="Yoxtur">Experience</option>
                <% for(let experience of experiences){ %> 
                <option value="<%=experience.experience%>"><%=experience.experience%></option>
                <% } %> 
            </select>
        </div>
    </div>
    <div class="col-8 offset-2">
        <form action="/new" method="post" enctype="multipart/form-data" id="Job" class="validated-form" novalidate>

            <label for="position" class="form-label">Position</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="(Accountant, Driver...)" name="subPosition" id="position" maxlength="50" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>

            <label for="pay" class="form-label">Pay</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="pay" id="pay" maxlength="50" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>

            <label for="phone" class="form-label">Phone</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="phone" id="phone" maxlength="50" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>

            <label for="age" class="form-label">Age</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="(18-30, 30-50...)" name="age" id="age" maxlength="50" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>

            <label for="gender" class="form-label">Gender</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="gender" id="gender" maxlength="50" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>

            <label for="body" class="form-label">Description</label>
            <div class="input-group">
                <textarea class="form-control" name="body" id="body" cols="8" rows="10" required></textarea>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>

            <button class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
</div>