<% layout("layouts/boilerplate") %> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" crossorigin>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet' crossorigin/>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js' crossorigin></script>
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <h5 class="card-header mb-3"><%=jobAd.compName%></h5>
            <div class="row justify-content-between">
                <img src="data:application/octet-stream;base64,<%=image%>" class="card-img m-auto" style="width: 18rem;">
                <div class="mx-auto mt-4" id='map' style='width: 350px; height: 250px;'></div>
            </div>
            <div class="card-body">
                <h5 class="card-title"><%=jobAd.subPosition%></h5>
                <% for(let paragraph of listOfParagraphs){ %> 
                <p class="card-text"><%=paragraph%></p>
                <% } %> 
                <div class="row">
                    <div class="col-6">
                        <form action="/sendCV/<%=jobid%>" method="post">
                        <button class="btn btn-primary">Send CV</button>
                        </form>
                    </div>
                </div>
            </div>
            <hr class="mb-3">
            <div class="card-body">
                    <p class="mb-1"><i class="bi bi-gender-ambiguous"></i> <strong class="text-primary">Gender: </strong><%=jobAd.gender%></p>
                    <p class="mb-1"><i class="bi bi-person"></i> <strong class="text-primary">Age: </strong><%=jobAd.age%></p>
                    <p class="mb-1"><i class="bi bi-cash-stack"></i> <strong class="text-primary">Pay: </strong><%=jobAd.pay%></p>
                    <p class="mb-1"><i class="bi bi-calendar"></i> <strong class="text-primary">Publish Date: </strong><%=jobAd.time%></p>
                    <p class="mb-1"><i class="bi bi-mortarboard"></i> <strong class="text-primary">Education: </strong><%=jobAd.education%></p>
                    <p class="mb-1"><i class="bi bi-star"></i> <strong class="text-primary">Experience: </strong><%=jobAd.experience%></p>
                    <p class="mb-1"><i class="bi bi-telephone"></i> <strong class="text-primary">Phone: </strong><%=jobAd.phone%></p>
            </div>
        </div>
    </div>
</div>
<script>
    let emp = <%-JSON.stringify(jobAd.geometry)%>;
    let name = <%-JSON.stringify(jobAd.compName)%>;
    mapboxgl.accessToken = '<%-process.env.MAPBOX_TOKEN%>';
    const map = new mapboxgl.Map({
    container: 'map', 
    style: 'mapbox://styles/mapbox/streets-v12', 
    center: emp.coordinates, 
    zoom: 10 
    });

    new mapboxgl.Marker()
    .setLngLat(emp.coordinates)
    .setPopup(
        new mapboxgl.Popup({offset: 25})
        .setHTML(`<h3>${name}</h3>`)
    )
    .addTo(map);
</script>